.App {
  text-align: center;
}
table{
  margin: 0 auto;
  font-size: 18px;
}
table tr td{
  border: 1px solid black;
  width: 200px;
}
ul{
  list-style-type: none;
}
.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
